
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>
    <div>
        <h1>Sistema de Registro Clientes<br /></h1>
        <p><a href="/Home/CapturaDatosClientes">Registrar Datos de Clientes.</a></p>
        <p><a href="/Home/ReporteDatosClientes">Listado de Clientes.</a></p>
    </div>
</body>
</html>
